<div>Route: {{routeId}}</div>

{{#if routeToStops.isFulfilled}}

  {{#each routeToStops as |routeToStop|}}
      <div>
        {{#link-to "stop-times" routeId routeToStop.id}}
          {{routeToStop.directionId}} ~ {{routeToStop.stop.stopName}}
        {{/link-to}}
      </div>

  {{/each}}

{{else}}
  {{loading-widget text="LOADING STOPS"}}
{{/if}}
