
<div class="container">
  {{#if stopTimes.isFulfilled}}

    {{#each filteredStopTimes as |stopTime|}}
        <div class="wrapper">
          {{stop-time-widget stopTime=stopTime}}
        </div>
    {{else}}
      {{noTimesText}}
    {{/each}}
  {{else}}
    {{loading-widget text="LOADING STOPS"}}
  {{/if}}
</div>